:root{
    --black: #161616;
    --white: #ececec;
    --red: #ef5350;
    --blue: #001FFF;
    --yellow: #ffdf00;
    --softBlue: #355C7D;
    --softViolet: #6C5B7B;
    --softPink: #C06C84;
    --softRed: #F67280;
    --softYellow: #F8B195;
    --charmingPink: #e592a2;
    --charmingBrown: #f3c6b8;
    --charmingGrey: #5d698a;
    --charmingNavy: #282d48;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 45px;
    font-family: 'Raleway', sans-serif;
    background-color: var(--black);
}


a{
    padding: 40px 80px;
    position: relative;
    margin-top: 225px;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    transition: all .5s;
}

a:last-of-type{
    margin-bottom: 75px;
}

/* ///////////////////////
///////BUTTON ONE */
.buttonOne{
    color: var(--blue);
    border: 2px solid var(--blue);
}

.buttonOne::before{
    content: 'Button One';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(5);
    opacity: 0;
    transition: all .5s;
}

.buttonOne:hover::before{
    transform: scale(1);
    opacity: 1;
}

/* ///////////////////////
///////BUTTON TWO */
.buttonTwo{
    border: 2px solid var(--red);
    color: var(--red);
}

.buttonTwo::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: var(--red);
    z-index: -1;
    border-radius: 0 0 50% 50%;
    transition: all 0.5s;
}

.buttonTwo:hover{
    color: var(--black);
}

.buttonTwo:hover::before{
    height: 190%;
}

/* ///////////////////////
///////BUTTON THREE */
.buttonThree{
    background-color: var(--softYellow);
    color: var(--white);
    overflow: visible;
}

.buttonThree::before{
    content: 'Button Three';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--softViolet);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(270deg);
    transform-origin: top;
    transition: all .9s;
}

.buttonThree:hover::before, .buttonThree:hover::after{
    transform: rotateX(0);
}

.buttonThree::after{
    content: 'Button Three';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--softBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(270deg);
    transform-origin: top;
    transition: all .9s;
    transition-delay: 0.9s;
}


/* ///////////////////////
///////BUTTON FOUR */
.buttonFour{
    color: transparent;
    border: 3px solid var(--charmingPink);
    overflow: visible;
}

.buttonFour::before{
    content: 'Button Four';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--charmingNavy);
    color: var(--charmingPink);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .7s;
}

.buttonFour:hover::before{
    left: 100%;
    transform: scale(0) rotateY(360deg);
    opacity: 0;
}

.buttonFour::after{
    content: 'Button Four';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--charmingNavy);
    color: var(--charmingPink);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0) rotateY(0deg);
    opacity: 0;
    transition: all .5s;
}

.buttonFour:hover::after{
    left: 0;
    transform: scale(1) rotateY(360deg);
    opacity: 1;
}

